/* NOTION CSS OVERRIDE */

.notion {
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  @apply p-0;
  @apply my-1.5;
}

.notion-h {
  @apply mt-0 pl-0;
}

.notion-h2 {
  @apply text-2xl;
  @apply border-b border-gray-200 dark:border-gray-700;
  @apply w-full;
  @apply mb-3;
}

.notion-list li {
  @apply p-0;
}

@screen toc-fixed {
  .notion-table-of-contents {
    @apply fixed w-auto top-[145px];
    right: calc((100% - 700px) / 2 - 400px);
  }
}

@screen toc-inline {
  .notion-table-of-contents {
    @apply -mt-4 mb-8;
  }
}

.notion-header-anchor {
  top: -65px;
}

.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion-code {
  @apply leading-6;
  padding: 15px 8px 15px 10px;
  margin: 8px 0;
}

.notion-code > code {
  @apply text-gray-900;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}
.notion-full-width {
  @apply px-0;
}
.notion-page {
  @apply w-auto;
  @apply px-0;
}
.notion-quote {
  padding: 0.2em 0.9em;
  font-size: 16px;
  color: rgb(119, 119, 119);
}
.notion-collection {
  @apply max-w-full;
}
.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}
.notion-collection > .notion-table {
  @apply max-w-full !important;
}
.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}
.notion-collection-view-type {
  @apply hidden;
}
.notion-collection-row {
  @apply hidden;
}
